# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# dev environment
/custom_components/duke_energy/aiodukeenergy*

# misc
.coverage
.vscode
coverage.xml
.ruff_cache
*.DS_Store
/docs
CLAUDE.md


# Home Assistant configuration
config/*
!config/configuration.yaml
